body {
    background-color:#D6C9C1 ;
    
}

header{
    background-color:#8FADCC ;
}


nav a{
    color: #1F438C;
    }
    

h1 {
    color:#1F438C ;
}

h2 {
    color:#1F438C ;
}

footer{
    background-color:#8FADCC ;
    color: #1F438C;
}


main{
    color: #1F438C;
}

